* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body { 
   width: 100%;
   height: 100%;
   font-family: sans-serif;
   padding: 32px;
}

form {
   width: max-content;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.nq-options {
   width: 100%;
   /* height: 0; */
   display: flex;
   flex-direction: column;
   margin-top: 12px;
   border-top: 1px solid lightgray;
   overflow: hidden;
   transform: translateY(-120%);
   transition: 0.5s ease;
}

input, button, option, select {
   position: relative;
   padding: 6px 12px;
   font-size: 16px;
   border: 1px solid lightgray;
   border-radius: 4px;
   z-index: 99;
}

select { 
   margin-top: 12px;
}

button {
   margin-top: 12px;
   background-color: aliceblue;
   cursor: pointer;
}

.nq-option {
   margin-top: 12px;
}

.questions {
   display: flex;
   flex-wrap: wrap;
   margin-top: 32px;
}

.question {
   width: max-content;
   min-width: 350px;
   padding: 16px;
   margin: 0 12px 12px 0;
   border-radius: 8px;
   border: 1px solid lightgray;
}

.question-title {
   font-size: 18px;
   margin-bottom: 8px;
}

.question-option {
   margin-top: 12px;
   position: relative;
}

.question-option input {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   cursor: pointer;
   opacity: 0;
}

.question-option input:checked ~ div {
   background-color: rgb(228, 228, 228);
}

.question-option div {
   width: 100%;
   padding: 6px 4px;
   border-radius: 4px;
}

#finish-quiz {
   position: fixed;
   bottom: 16px;
   left: 50%;
   transform: translateX(-50%);
}

