* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(241,224,221);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
h1 {
    font-size: 4rem
}
h1,h2 {
    margin-bottom: 5rem;
}
.game-container {
    width: 30rem;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(3 ,1fr);
    border: 1px solid black;
}
.block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: #fafafa;
    user-select: none;
}
.block:hover {
    border: 1px solid rgb(179, 115, 115);
}
#error {
    font-size: 1.2rem;
    margin-top: 2rem;
    letter-spacing: 4px;
    color: red;
}