* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: sans-serif;
   width: 1200px;
   max-width: 100%;
   height: 90vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}
.sliderCon {
   width: 100%;
   padding: 2rem 0;
}
.slider {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.middle {
   display: flex;
   align-items: center;
}
.imagesDiv {
   width: 200px;
   height: 300px;
   overflow: hidden;
   border-radius: 16px;
}
.images { 
   width: 100%;
   height: 100%;
   display: flex;
}
.images img {
   object-fit: cover;
}
img {
   width: 100%;
   height: 100%;
}
.arrow {
   height: 300px;
   padding: 0 10px;
   cursor: pointer;
   transition: .3s ease-out all;
   border-radius: 8px;
}
.arrow:hover {
   background-color: lightgray;
}
@media screen and (max-width: 700px) {
   .middle {
      flex-direction: column;
   }
   .texts {
      padding-top: 50px;
      text-align: center;
      line-height: 150%;
   }
}