* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  min-width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.938);
}
.container {
  width: 80%;
  margin: 0 auto;
  color: #f0f0f0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-link {
  margin: 0 1rem;
}

@media screen and (max-width: 700px) {
  .container {
  width: 90%;
  }
  nav {
    padding: 1.2rem 0;
  }
  .nav-link {
    margin: 0 .5rem;
  }
}

/* banner */
#banner {
  margin: 5rem 0;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  width: 40%;
}
.banner-text h1 {
  font-size: 5rem;
}
.banner-text p {
  font-size: 1.2rem;
  margin: 2rem 0;
}
.banner-text button {
  border: none;
  border-radius: 1rem;
  background: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: white;
  background: rgb(185, 95, 11);
}
.img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner-img {
  width: 50%;
  z-index: -2;
  border-image-slice: 1;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-image-source: linear-gradient(to left, black, rgb(185, 98, 11));
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  #banner {
  margin: 1rem 0;
  height: 100%;
  flex-direction: column;
  }
  .banner-text {
    width: 100%;
  }
  .banner-text h1 {
    font-size: 3rem;
  }
  .banner-text p {
    font-size: 1rem;
    margin: 1rem 0;
  }
  .banner-text button {
    border-radius: .6rem;
    font-size: 1rem;
    color: white;
  }
  .banner-img {
    width: 100%;
    margin-top: 1rem;
  }
}

/* banner end */


/* about */
#about {
  margin: 5rem 0;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-text {
  width: 50%;
  margin-right: 5rem;
}
.about-text h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.about-text p {
  line-height: 160%;
}
.about-img {
  height: 70%;
}

@media screen and (max-width: 700px) {
  #about {
  margin: 2rem 0;
  height: 100%;
  flex-direction: column;
  }
  .about-text {
    width: 100%;
    margin-right: 0;
  }
  .about-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .about-text p {
    line-height: 130%;
  }
  .about-img {
    height: 100%;
    margin-top: 1rem;
  }
}
/* about end*/

/* video */
#vid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  margin: 5rem 0;
}
#vid h3 {
  font-size: 4rem;
}
#vid h3 span {
  color: rgb(185, 98, 11);
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: gray;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 2rem;
  box-shadow: 1px 1px 1px -1px gray;
  color: black;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.card-text {
  font-size: 1.2rem;
}
.card:hover {
  transform: scale(1.1);
}
.icon {
  font-size: 3rem;
  margin: 2rem;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  background: black;
}
.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
@media screen and (max-width: 700px) {
  #vid {
  height: 100%;
  margin: 2rem 0;
  }
  #vid h3 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
  }
  .card-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .card {
    -webkit-tap-highlight-color: #f0f0f000;
    padding: 1rem;
    margin: 1.5rem;
  }
  .card-text {
    font-size: 1rem;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .icon {
    font-size: 3rem;
    margin: 1.3rem;
  }
  .video {
    display: none;
  }
}